{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<div class="login-page d-flex justify-content-center align-items-center">

    <div class="login-form p-5 shadow-sm">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
               <p class="flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control input-hover") }}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control input-hover") }}
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">{{ form.submit.label.text }}</button>
        </form>
    </div>
</div>
{% endblock %}
